@import 'tailwindcss';
@import 'tw-animate-css';

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-heading: var(--font-heading);
  --font-body: var(--font-body);
  --font-serif: var(--font-serif);
  --font-mono: var(--font-mono);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  /* Brand Neutral (zinc) */
  --color-brand-neutral-50: var(--color-zinc-50);
  --color-brand-neutral-100: var(--color-zinc-100);
  --color-brand-neutral-200: var(--color-zinc-200);
  --color-brand-neutral-300: var(--color-zinc-300);
  --color-brand-neutral-400: var(--color-zinc-400);
  --color-brand-neutral-500: var(--color-zinc-500);
  --color-brand-neutral-600: var(--color-zinc-600);
  --color-brand-neutral-700: var(--color-zinc-700);
  --color-brand-neutral-800: var(--color-zinc-800);
  --color-brand-neutral-900: var(--color-zinc-900);
  --color-brand-neutral-950: var(--color-zinc-950);

  /* Brand Accent (purple) */
  --color-brand-accent-50: var(--color-purple-50);
  --color-brand-accent-100: var(--color-purple-100);
  --color-brand-accent-200: var(--color-purple-200);
  --color-brand-accent-300: var(--color-purple-300);
  --color-brand-accent-400: var(--color-purple-400);
  --color-brand-accent-500: var(--color-purple-500);
  --color-brand-accent-600: var(--color-purple-600);
  --color-brand-accent-700: var(--color-purple-700);
  --color-brand-accent-800: var(--color-purple-800);
  --color-brand-accent-900: var(--color-purple-900);
  --color-brand-accent-950: var(--color-purple-950);

  /* Other Custom Color */
  --color-foreground-alt: var(--color-zinc-700);
  --background-image-background-gradient: var(--background-gradient);
}

@layer base {
  :root {
    --radius: 0.625rem;
    --background: oklch(0.985 0 0);
    --foreground: oklch(0.274 0.006 286.033);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.37 0.013 285.805);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.37 0.013 285.805);
    --primary: oklch(0.274 0.006 286.033);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.274 0.006 286.033 / 0.075);
    --secondary-foreground: oklch(0.37 0.013 285.805);
    --muted: oklch(0.92 0.004 286.32);
    --muted-foreground: oklch(0.37 0.013 285.805 / 0.7);
    --accent: oklch(0.946 0.033 307.174);
    --accent-foreground: oklch(0.37 0.013 285.805);
    --destructive: oklch(0.969 0.015 12.422);
    --destructive-foreground: oklch(0.586 0.253 17.585);
    --border: oklch(0.141 0.005 285.823 / 0.15);
    --input: oklch(0.141 0.005 285.823 / 0.15);
    --ring: oklch(0.558 0.288 302.321);
    --chart-1: oklch(0.274 0.006 286.033);
    --chart-2: oklch(0.552 0.016 285.938);
    --chart-3: oklch(0.558 0.288 302.321);
    --chart-4: oklch(0.714 0.203 305.504);
    --chart-5: oklch(0.712 0.194 13.428);
    --sidebar: oklch(0.967 0.001 286.375);
    --sidebar-foreground: oklch(0.274 0.006 286.033);
    --sidebar-primary: oklch(0.141 0.005 285.823 / 0.85);
    --sidebar-primary-foreground: oklch(1 0 0 / 0.85);
    --sidebar-accent: oklch(0.558 0.288 302.321 / 0.1);
    --sidebar-accent-foreground: oklch(0.274 0.006 286.033);
    --sidebar-border: oklch(0.274 0.006 286.033 / 0.125);
    --sidebar-ring: oklch(0.558 0.288 302.321);
    --primary-light: oklch(0.37 0.013 285.805);
    --primary-dark: oklch(0.274 0.006 286.033);
    --primary-ring: oklch(0.21 0.006 285.885);
    --background-gradient: linear-gradient(
      to bottom right,
      oklch(0.985 0 0) 0%,
      oklch(0.984 0.003 247.858) 50%,
      oklch(0.985 0.002 247.839) 100%
    );
  }

  .dark {
    --background: oklch(0.274 0.006 286.033);
    --foreground: oklch(1 0 0 / 0.97);
    --card: oklch(0.21 0.006 285.885);
    --card-foreground: oklch(1 0 0 / 0.85);
    --popover: oklch(0.21 0.006 285.885);
    --popover-foreground: oklch(1 0 0 / 0.97);
    --primary: oklch(0.967 0.001 286.375);
    --primary-foreground: oklch(0.21 0.006 285.885);
    --secondary: oklch(1 0 0 / 0.1);
    --secondary-foreground: oklch(1 0 0 / 0.85);
    --muted: oklch(0.274 0.006 286.033);
    --muted-foreground: oklch(0.967 0.001 286.375 / 0.7);
    --accent: oklch(0.558 0.288 302.321 / 0.35);
    --accent-foreground: oklch(1 0 0 / 0.85);
    --destructive: oklch(0.586 0.253 17.585);
    --destructive-foreground: oklch(0.712 0.194 13.428);
    --border: oklch(1 0 0 / 0.125);
    --input: oklch(1 0 0 / 0.2);
    --ring: oklch(0.558 0.288 302.321);
    --chart-1: oklch(0.871 0.006 286.286);
    --chart-2: oklch(0.552 0.016 285.938);
    --chart-3: oklch(0.827 0.119 306.383);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: oklch(0.37 0.013 285.805);
    --sidebar-foreground: oklch(1 0 0 / 0.97);
    --sidebar-primary: oklch(1 0 0 / 0.85);
    --sidebar-primary-foreground: oklch(0 0 0 / 0.85);
    --sidebar-accent: oklch(0.558 0.288 302.321 / 0.35);
    --sidebar-accent-foreground: oklch(1 0 0 / 0.97);
    --sidebar-border: oklch(1 0 0 / 0.125);
    --sidebar-ring: oklch(0.558 0.288 302.321 / 0.85);
    --primary-light: oklch(0.985 0 0);
    --primary-dark: oklch(0.967 0.001 286.375);
    --primary-ring: oklch(0.92 0.004 286.32);
    --background-gradient: linear-gradient(
      to bottom right,
      oklch(0.274 0.006 286.033) 0%,
      oklch(0.278 0.033 256.848) 50%,
      oklch(0.279 0.041 260.031) 100%
    );
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground font-body;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading;
  }
  button {
    @apply font-heading;
  }
}

@layer components {
  /* Headings */
  .heading-1 {
    @apply font-heading text-4xl font-medium leading-10 tracking-[-0.25px];
    @apply md:text-5xl md:leading-none md:tracking-[-0.5px];
  }
  .heading-2 {
    @apply font-heading text-2xl font-semibold leading-7 tracking-[0px];
    @apply md:text-3xl md:leading-9 md:tracking-[0.25px];
  }
  .heading-3 {
    @apply font-heading text-2xl font-semibold leading-7 tracking-[0px];
  }
  .heading-4 {
    @apply font-heading text-xl font-semibold leading-6 tracking-[0.1px];
  }

  /* Paragraph - Regular */
  .para-regular {
    @apply font-body text-base font-normal leading-6 tracking-[0px];
  }
  .para-regular-medium {
    @apply font-body text-base font-medium leading-6 tracking-[0px];
  }
  .para-regular-bold {
    @apply font-body text-base font-semibold leading-6 tracking-[-0.1px];
  }

  /* Paragraph - Small */
  .para-sm {
    @apply font-body text-sm font-normal leading-5 tracking-[0px];
  }
  .para-sm-medium {
    @apply font-body text-sm font-medium leading-5 tracking-[0px];
  }
  .para-sm-bold {
    @apply font-body text-sm font-semibold leading-5 tracking-[-0.1px];
  }

  /* Paragraph - Large */
  .para-lg {
    @apply font-body text-lg font-normal leading-7 tracking-[-0.1px];
  }
  .para-lg-medium {
    @apply font-body text-lg font-medium leading-7 tracking-[-0.1px];
  }
  .para-lg-bold {
    @apply font-body text-lg font-semibold leading-7 tracking-[-0.2px];
  }

  /* Paragraph - Mini */
  .para-mini {
    @apply font-body text-xs font-normal leading-4 tracking-[0.1px];
  }
  .para-mini-medium {
    @apply font-body text-xs font-medium leading-4 tracking-[0.1px];
  }
  .para-mini-bold {
    @apply font-body text-xs font-semibold leading-4 tracking-[0px];
  }

  /* Button */
  .btn-text {
    @apply font-heading text-base font-normal leading-none tracking-[0.25px];
  }
  .btn-text-sm {
    @apply font-heading text-sm font-normal leading-none tracking-[0.25px];
  }

  /* Misc */
  .caption {
    @apply font-body text-xs font-normal leading-4 tracking-[1.5px];
  }
  .monospaced {
    @apply font-mono text-base font-normal leading-5 tracking-[0.25px];
  }
}
